body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(242, 247, 248);
}

p {
    margin: 0;
}

.input-login {
    width: 100%;
    height: 2.5rem;
}

.logo {
    color: #87cefa;
    font-size: 8rem;
}

.card-top {
    text-align: center;
    padding: 2rem 5rem;
}

.card-group {
    padding: 0 2rem;
}

.link-checkbox {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 2rem 0.5em;
}

.btn_acessar {
    width: 100%;
    height: 2.5rem;
    background-color: rgb(0, 157, 255);
    color: white;
    font-weight: lighter;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    margin: 1rem 0;
}

.first-column{
    text-align: center;
    padding-top: 2rem;

}

.card--group {
    text-align: right;
    padding: 1rem 2rem 0;
}

.login{
    display: flex;
    padding: 0 2rem;
}

.social-media > a {
    text-decoration: none;
    color: rgb(0, 157, 255);
    font-size: 2rem;
    padding: 0 0.5rem;
}

.social-media {
    text-align: center;
    padding-bottom: 1rem;
}

.btn-login {
    margin-left: 0.5rem;
}

.logo-cadastro {
    color: #87cefa;
    padding-top: 1rem;
    font-size: 2rem;
    padding-right: 1rem;
}